@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
    background-color: #eee;
}
